body{
    background-color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    margin-top: 100px;
}
h1 {
    margin: 15px 0;
    text-align: center;
}

h2{
    margin: 15px 0;
    font-weight: 100;
    font-size: 130%;
    text-align: center;
}

.app{
    width:800px;
    margin:0 auto;
    margin-top:20px;
}

.app .box{
    width: 100%;
    border: 1px solid rgb(80 159 197);
    padding: 15px 10px;
    margin-bottom: 25px;
}

.app .box input{
    background:#3bc139;
    padding:15px;
    border:none;
    border-radius: 50%;
    color: #fff;
}

.app .box span{
    margin-left:10px;
    color:rgb(235, 118, 118);
}