*{
    margin:0;
    padding:0;
    background:#fbf6f6;
}
.app{
    width:800px;
    margin:0 auto;
    margin-top:20px;
}

.app .box{
    width: 100%;
    border: 1px solid rgb(80 159 197);
    padding: 15px 10px;
    margin-bottom: 25px;
}

.app .box input{
    background:#3bc139;
    padding:15px;
    border:none;
    border-radius: 50%;
    color: #fff;
}

.app .box span{
    margin-left:10px;
    color:rgb(235, 118, 118);
}